@charset "UTF-8";
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Extrabld.woff") format("woff"), url("../fonts/ProximaNova-Extrabld.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.button {
  max-width: 13.75rem;
  width: 100%;
  padding: 0.9rem 0;
  text-align: center;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
.button-primary {
  background: #90140C;
}
.button-secondary {
  background: #fff;
  border: 1px solid #E7E7E8;
  max-width: 12.4rem;
  width: 100%;
  color: #272727;
  font-size: 0.875rem;
  line-height: 1.375rem;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.col-50 {
  width: 47.6%;
}
.col-25 {
  flex-basis: 24%;
}
.col-30 {
  flex-basis: 29%;
}
.col__text {
  font-weight: 400;
  text-align: center;
  line-height: 1.375rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block {
  margin-top: 2rem;
  min-height: 46.75rem;
  width: 100%;
  display: grid;
}
.block__el {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-radius: 2px;
}
.block__el__price {
  color: #fff;
  margin: 0 auto;
  font-size: 1.25rem;
  font-family: "Montserrat";
  font-weight: 700;
  margin-bottom: 1.25rem;
  margin-top: 0.5rem;
}
.block__el__text {
  color: #fff;
  line-height: 1.375rem;
  font-weight: 400;
  text-align: center;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "ProximaNova";
  font-size: 1rem;
  color: #272727;
  outline: none;
  font-weight: 600;
  line-height: 1.5rem;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

span {
  cursor: pointer;
  outline: none;
}

.section {
  padding: 2.5rem 0;
}
.section__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.section__title {
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.25rem;
  color: #151515;
  text-align: center;
}
.section__text {
  color: #90140C;
  text-align: center;
  margin-top: 0.8rem;
  cursor: pointer;
}
.section__text_link {
  color: #90140C;
  text-decoration: none;
  cursor: pointer;
}

.input {
  font-weight: 400;
}
.input__search {
  padding: 0.75rem 7.0625rem 0.75rem 3.75rem;
  outline: none;
  border: 1px solid #B7B7B7;
  border-radius: 2px;
  max-width: 14.375em;
  width: 100%;
}
.input__search::-moz-placeholder {
  color: #B7B7B7;
  font-weight: 400;
}
.input__search:-ms-input-placeholder {
  color: #B7B7B7;
  font-weight: 400;
}
.input__search::placeholder {
  color: #B7B7B7;
  font-weight: 400;
}
.input__block {
  max-width: 14.375em;
  width: 100%;
}

.no-scroll {
  overflow: hidden;
}

.header {
  padding: 0;
}
.header .mobile__tel {
  display: none;
}
.header .mobile__block {
  display: none;
}
.header .mobile__main {
  width: 311px;
  position: absolute;
  left: 0;
  background: #fff;
  z-index: 111;
  height: 889px;
  overflow-y: scroll;
  top: 0;
}
.header .mobile__main .active {
  display: block !important;
}
.header .mobile__main-button {
  max-width: 89%;
  margin: 32px 16px 31px !important;
}
.header .mobile__main-footer {
  padding: 0 0 12px 16px;
}
.header .mobile__main-footer .footer__rights {
  margin-top: 8px !important;
}
.header .mobile__main-info .information__el {
  color: #272727;
  margin: 16px 0 0 16px;
  max-width: 100%;
  width: 100%;
}
.header .mobile__main-input {
  max-width: 100% !important;
  border: 0;
}
.header .mobile__main-input-block {
  margin-top: 0 !important;
  max-width: 100% !important;
}
.header .mobile__main-shadow {
  position: fixed;
  overflow-y: scroll;
  z-index: 99;
  width: 100%;
  height: 100vh;
  display: none;
  background: rgba(39, 39, 39, 0.7);
  top: 0;
  left: 0;
}
.header .mobile__main-shadow .active {
  display: block !important;
}
.header .mobile__main-contacts {
  width: 100%;
  padding: 16px;
  background: #272727;
}
.header .mobile__main-contacts-block {
  margin-bottom: 12px;
}
.header .mobile__main-contacts .contacts__telephone {
  color: #fff;
}
.header .mobile__main-contacts .contacts__telephone:nth-last-child(1) {
  margin-left: 36px;
}
.header .mobile__main-nav-section {
  width: 100%;
  padding: 12px 24px;
  background: #F4F4F4;
}
.header .burger {
  width: 24px;
  height: 24px;
  display: none;
}
.header .burger__line {
  width: 24px;
  height: 2px;
  background: #272727;
  margin: 4px 0 4px;
}
.header .row {
  flex-wrap: wrap;
}
.header .col {
  align-items: flex-start;
  justify-content: space-between;
}
.header__block {
  padding: 0.8rem 0;
  background: #272727;
  width: 100%;
}
.header__block:nth-child(1) {
  color: #fff;
}
.header__block:nth-child(2) {
  background: #fff;
  padding: 1.5rem 0 1rem;
}
.header__block:nth-child(3) {
  background: #F4F4F4;
}
.header__info {
  max-width: 65.6%;
  width: 100%;
}
.header .contacts {
  max-width: 23.8rem;
  width: 100%;
}
.header .contacts__block {
  margin-left: 36px;
  position: relative;
  height: 2.625rem;
}
.header .contacts__block::before {
  content: url(../img/phone.svg);
  width: 24px;
  height: 24px;
  position: absolute;
  left: -36px;
  top: 50%;
  margin-top: -12px;
}
.header .contacts__telephone {
  text-align: left;
  position: relative;
}
.header .contacts__telephone:nth-child(2)::before {
  content: url(../img/phone.svg);
  width: 24px;
  height: 24px;
  position: absolute;
  left: -36px;
  top: 50%;
  margin-top: -12px;
}
.header .contacts__messager {
  color: #B7B7B7;
  line-height: 0.75rem;
  font-size: 0.75rem;
}
.header .contacts__messager a {
  color: #fff;
  text-decoration: none;
}
.header .information {
  max-width: 25.8125rem;
  width: 100%;
}
.header .information a {
  line-height: 1.375rem;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
}
.header .nav {
  max-width: 64.8125rem;
  width: 100%;
  flex-wrap: wrap;
}
.header .nav__el {
  color: #272727;
}
.header .nav-section {
  max-width: 18.5rem;
  width: 100%;
  align-items: flex-start;
}
.header .nav-section__el {
  color: #272727;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.375rem;
  transition-duration: 200ms;
}
.header .nav-section__el:hover {
  color: #90140C;
}
.header .nav-user {
  max-width: 29.1875rem;
  width: 100%;
  align-items: flex-start;
}
.header .nav-user__el {
  color: #272727;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  position: relative;
  margin-left: 40px;
}
.header .nav-user__el:nth-child(1)::before {
  position: absolute;
  content: url(../img/heart.svg);
  width: 24px;
  height: 24px;
  left: -40px;
  top: 50%;
  margin-top: -12px;
}
.header .nav-user__el:nth-child(2)::before {
  position: absolute;
  content: url(../img/bag.svg);
  width: 24px;
  height: 24px;
  left: -40px;
  top: 50%;
  margin-top: -12px;
}
.header .nav-user__el:nth-child(2)::after {
  position: absolute;
  top: -13px;
  left: -27px;
  content: "20";
  color: #fff;
  width: 20px;
  height: 20px;
  background-color: #90140C;
  border-radius: 100%;
}
.header .nav-user__el:nth-child(3)::before {
  position: absolute;
  content: url(../img/user.svg);
  width: 24px;
  height: 24px;
  left: -40px;
  top: 50%;
  margin-top: -12px;
}
.header .block__logo {
  max-width: 48.5rem;
  width: 100%;
}
.header .lable__search {
  position: relative;
  width: 20px;
  height: 20px;
}
.header .lable__search::before {
  content: url(../img/search.svg);
  position: absolute;
  left: 19px;
  top: -2px;
  width: 20px;
  height: 20px;
}

.hero {
  padding: 1.5rem 0;
}
.hero .first-swiper {
  min-height: 33.125rem;
}
.hero .first-swiper-button-next, .hero .first-swiper-button-prev {
  background: rgba(21, 21, 21, 0.32);
  border-radius: 80px;
  width: 48px;
  height: 48px;
  outline: none;
}
.hero .first-swiper-button-next::before {
  content: url(../img/arrow.svg);
  transform: rotate(180deg);
  margin-top: -9px;
}
.hero .first-swiper-button-prev::before {
  content: url(../img/arrow.svg);
  margin-top: 5px;
}
.hero .swiper-slide {
  min-height: 33.125rem;
}
.hero .swiper-button-next, .hero .swiper-button-prev {
  top: 49.8%;
}
.hero .swiper-button-next::after, .hero .swiper-button-prev::after {
  display: none;
}
.hero .swiper-button-next {
  right: 59px;
}
.hero .swiper-button-prev {
  left: 61px;
}
.hero .swiper-pagination-bullets {
  position: relative;
  bottom: 0;
  margin-top: -38px;
  width: auto;
}
.hero .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: auto;
  background: #FDFDFD;
}
.hero .swiper__button {
  max-width: 14rem;
}
.hero .swiper .slide {
  background: url(../img/hero-bg.webp) no-repeat center/cover;
  width: 100%;
  min-height: 33.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .swiper .slide__title {
  max-width: 38.3125rem;
  width: 100%;
  color: #fff;
  min-height: 10.135rem;
}
.hero .swiper .slide__title__head {
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 3.5rem;
}
.hero .swiper .slide__title__text {
  line-height: 1.375rem;
  font-weight: 400;
  margin-top: -10px;
}
.hero .col {
  justify-content: space-between;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 8px !important;
}

.tabs {
  padding: 2.3125rem 0 2.5rem;
}
.tabs__section {
  min-height: 35rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.tabs__block {
  width: 100%;
  min-height: 16.875rem;
  background: #F4F4F4;
  border-right: 1.25rem solid #fff;
  border-top: 1.25rem solid #fff;
  text-decoration: none;
  color: #272727;
}
.tabs__block-width {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100%;
  padding: 0 2.3125rem 0 5.25rem;
}
.tabs__block-height {
  border-top: 1.25rem solid #fff;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 100%;
  background: #F4F4F4;
  padding: 5.75rem 0 0 0;
  text-decoration: none;
  color: #272727;
}
.tabs__block__title {
  font-weight: 800;
  text-align: center;
  line-height: 1.75rem;
  font-size: 1.5rem;
  margin-top: 1rem;
}
.tabs__block__title-margin {
  margin-top: 0;
}
.tabs__block__title-top {
  margin-top: 6rem;
}
.tabs__block__text {
  color: #A3A3A3;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
  text-align: center;
  max-width: 23.9375rem;
  margin-top: 0.25rem;
}
.tabs__block__text-width {
  max-width: 17rem;
}
.tabs__blocks {
  width: 100%;
}

.guid__block {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.guid__block-one {
  background-image: url(../img/guid-one.webp);
}
.guid__block-two {
  background-image: url(../img/guid-two.webp);
}
.guid__block-three {
  grid-column-start: 3;
  grid-column-end: 5;
  background-image: url(../img/guid-three.webp);
}
.guid__block-four {
  grid-column-start: 1;
  grid-column-end: 3;
  background-image: url(../img/guid-four.webp);
}
.guid__block-five {
  background-image: url(../img/guid-five.webp);
}
.guid__block-six {
  background-image: url(../img/guid-six.webp);
}

.popular__block {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.popular__block-one {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  background-image: url(../img/popular-one.webp);
}
.popular__block-two {
  background-image: url(../img/popular-two.webp);
}
.popular__block-three {
  background-image: url(../img/popular-three.webp);
}
.popular__block-four {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 5;
  background-image: url(../img/popular-four.webp);
}

.principles {
  padding: 2.5rem 0 5rem;
}
.principles .row {
  flex-wrap: wrap;
}
.principles__col {
  min-height: 13.5rem;
  border-radius: 2px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  background: #fff;
  justify-content: center;
}
.principles__col__text {
  max-width: 13.1875rem;
  margin-top: 1rem;
}

.feedback {
  padding: 5rem 0;
  background: #F4F4F4;
}
.feedback .section__block {
  margin-top: 3.9rem;
  overflow-x: hidden;
}
.feedback .section__text {
  margin-top: 0.85rem;
}
.feedback .row {
  align-items: flex-start;
  flex-wrap: wrap;
}
.feedback__title {
  text-align: left;
  max-width: 13.9375rem;
}
.feedback__text {
  text-align: left;
}
.feedback__text::after {
  content: "(12 345)";
  color: #90140C;
  margin-left: 0.3rem;
}
.feedback-swiper {
  min-height: 20rem;
  max-width: 67.25rem;
}
.feedback-swiper__nav {
  margin: 2.75rem auto auto;
  width: 34%;
  display: flex;
}
.feedback-swiper-button-next, .feedback-swiper-button-prev {
  background: rgba(21, 21, 21, 0.32);
  border-radius: 80px;
  width: 48px;
  height: 48px;
  outline: none;
  position: relative;
}
.feedback-swiper-button-next::before {
  content: url(../img/arrow.svg);
  transform: rotate(180deg);
  margin-top: -9px;
}
.feedback-swiper-button-prev::before {
  content: url(../img/arrow.svg);
  margin-top: 5px;
}
.feedback__block {
  display: flex;
  justify-content: space-between;
  min-height: 14.75rem;
  max-width: 21.625rem;
  width: 100%;
}
.feedback__slide {
  max-width: 21.625rem;
  width: 100%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  padding: 20px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 14.75rem;
}
.feedback-name {
  font-size: 1rem;
}
.feedback-name-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.feedback-stars {
  display: flex;
  justify-content: space-between;
  max-width: 6.5rem;
  width: 100%;
  align-items: center;
}
.feedback-stars-img {
  height: 1rem;
}
.feedback-text {
  line-height: 1.375rem;
  font-weight: 400;
  font-size: 0.875rem;
  margin: 0.75rem 0 auto;
  max-width: 16.6875rem;
  width: 100%;
}
.feedback-date {
  color: #A3A3A3;
  line-height: 1rem;
  font-size: 0.75rem;
}
.feedback .swiper {
  margin-left: 0;
  margin-right: 0;
}
.feedback .swiper-wrapper {
  min-height: 14.75rem;
  width: 100%;
}
.feedback .swiper-button-next, .feedback .swiper-button-prev {
  top: 0;
  width: 41px;
  height: 41px;
  position: relative;
  right: 0;
  left: 0;
  margin-top: 0 !important;
}
.feedback .swiper-button-next::after, .feedback .swiper-button-prev::after {
  display: none;
}
.feedback .swiper-pagination {
  position: relative;
  margin: 0.6rem auto 0;
}
.feedback .swiper-pagination-bullets {
  position: relative;
  bottom: 0 !important;
  width: auto !important;
}
.feedback .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: auto;
  background: #B7B7B7;
  opacity: 1 !important;
}
.feedback .swiper-pagination-bullet-active {
  background: #90140C;
  opacity: 1;
}

.action {
  padding: 5rem 0;
}
.action .row {
  flex-wrap: wrap;
}
.action .section__title {
  margin-bottom: 1.5rem;
}
.action__col {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  min-height: 22.75rem;
}
.action__col-img {
  width: 100%;
  height: 13rem;
}
.action__col-block {
  padding: 16px 20px 20px 20px;
  width: 100%;
}
.action__col-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 4.25rem;
  margin-bottom: 0.35rem;
}
.action__col-head {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #272727;
}
.action__col-text {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
  margin-top: 0.25rem;
  color: #272727;
}
.action__col-had {
  color: #02AE3D;
  line-height: 1rem;
  font-size: 0.75rem;
  font-weight: 400;
}
.action__col-nav {
  display: flex;
  align-items: center;
  min-height: 2.5rem;
  margin-top: 0.65rem;
}
.action__col-price {
  max-width: 7.8rem;
  width: 100%;
  font-family: "Montserrat";
  font-weight: 700;
}
.action__col-price-block {
  max-width: 7rem;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.action__col-price-del {
  color: #B7B7B7;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
}
.action__col-favorits {
  font-weight: 400;
  color: #272727;
  line-height: 1rem;
  font-size: 0.75rem;
  margin: auto 0 auto 23px;
  position: relative;
}
.action__col-favorits::before {
  position: absolute;
  left: -24px;
  top: 0;
  content: url(../img/like.svg);
  width: 1rem;
  height: 1rem;
}
.action__col-interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 0.8rem;
}
.action__col-bag {
  width: 40px;
  height: 40px;
  background: #fff url(../img/cart.svg) no-repeat center;
  border-radius: 100%;
  margin-left: 1.05rem;
  transition-duration: 400ms;
}
.action__col-bag:hover {
  background: #90140C url(../img/cart-white.svg) no-repeat center;
}
.action-swiper {
  display: none;
}
.action-swiper__nav {
  margin: 2.75rem auto auto;
  width: 100%;
  display: flex;
}
.action-swiper-button-next, .action-swiper-button-prev {
  background: rgba(21, 21, 21, 0.32);
  border-radius: 80px;
  width: 48px;
  height: 48px;
  outline: none;
  position: relative;
}
.action-swiper-button-next::before {
  content: url(../img/arrow.svg);
  transform: rotate(180deg);
  margin-top: -9px;
}
.action-swiper-button-prev::before {
  content: url(../img/arrow.svg);
  margin-top: 5px;
}
.action .swiper {
  margin-left: 0;
  margin-right: 0;
}
.action .swiper-wrapper {
  min-height: 14.75rem;
  width: 100%;
}
.action .swiper-button-next, .action .swiper-button-prev {
  top: 0;
  width: 41px;
  height: 41px;
  position: relative;
  right: 0;
  left: 0;
  margin-top: 0 !important;
}
.action .swiper-button-next::after, .action .swiper-button-prev::after {
  display: none;
}
.action .swiper-pagination {
  position: relative;
  margin: 0.6rem auto 0;
}
.action .swiper-pagination-bullets {
  position: relative;
  bottom: 0 !important;
  width: auto !important;
}
.action .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: auto;
  background: #B7B7B7;
  opacity: 1 !important;
}
.action .swiper-pagination-bullet-active {
  background: #90140C;
  opacity: 1;
}

.filter {
  padding: 1.125rem 0 0.75rem;
}
.filter__road {
  max-width: 17rem;
}
.filter__road__el {
  font-size: 0.875rem;
  line-height: 1.375rem;
  position: relative;
  font-weight: 400;
}
.filter__road__el::after {
  content: "–";
  position: absolute;
  right: -14px;
  top: 0;
  color: #B7B7B7;
}
.filter__road-end {
  color: #B7B7B7;
}
.filter__road-end::after {
  content: "" !important;
}
.filter__title {
  font-size: 2.5rem;
  line-height: 2.75rem;
  font-weight: 800;
  margin: 2rem 0 1.875rem;
}
.filter__buttons {
  max-width: 25rem;
  width: 100%;
}
.filter__button-mobile {
  display: none;
}
.filter__filters {
  max-width: 15rem;
  width: 100%;
}
.filter__filters-button {
  display: none;
}
.filter__filters-container {
  color: #A3A3A3;
  line-height: 1.375rem;
  font-size: 0.875rem;
  font-weight: 400;
}
.filter__filters-popular {
  margin-right: 18px;
  position: relative;
  color: #90140C;
  font-weight: 400;
  line-height: 1rem;
  font-size: 0.875rem;
}
.filter__filters-popular::after {
  content: url(../img/down-arrow.svg);
  position: absolute;
  left: 8.125rem;
  top: 0;
}

.search {
  padding: 0 0 3.75rem;
}
.search__block-apply {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  top: auto;
  right: 0;
  width: 100%;
  padding: 20px;
  background: #fff;
  box-shadow: 0px -2px 12px rgba(0, 0, 0, 0.08);
}
.search__button-apply {
  max-width: 335px;
  margin: auto;
}
.search .row {
  align-items: flex-start;
}
.search .col-25 {
  flex-basis: auto;
}
.search__section {
  padding: 24px;
  min-height: 67.8125rem;
  max-width: 19.5rem;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(39, 39, 39, 0.25);
}
.search__section-container {
  max-width: 16.5rem;
  margin: 0 auto;
}
.search__filters {
  padding: 0 0 24px;
  border-bottom: 1px solid #E7E7E8;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.search__filters-back {
  display: none;
  margin-bottom: 32px;
  font-size: 12px;
  line-height: 16px;
  position: relative;
  margin-left: 24px;
}
.search__filters-back::before {
  content: url(../img/back.svg);
  position: absolute;
  left: -24px;
  top: 0;
}
.search__filters__button {
  max-width: 108px;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 8px 0;
}
.search__filters__el-del {
  padding: 8px 44px 8px 16px;
  border: 1px solid #E7E7E8;
  margin-right: 4px;
  margin-top: 4px;
}
.search__filters__el-title {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  position: relative;
}
.search__filters__el-title::after {
  content: url(../img/close.svg);
  position: absolute;
  right: -24px;
  top: 50%;
  width: 16px;
  height: 16px;
  margin-top: -8px;
}
.search__action {
  padding: 24px 0;
  border-bottom: 1px solid #E7E7E8;
  display: flex;
  justify-content: space-between;
}
.search__action__title {
  line-height: 1.5rem;
}
.search__action__check {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.search__action__check:checked + label::before {
  background: #90140C;
}
.search__action__check:checked + label::after {
  content: "";
  left: 26px;
}
.search__action__check + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}
.search__action__check + label::before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 24px;
  border-radius: 100px;
  background-color: #B7B7B7;
  transition-duration: 200ms;
}
.search__action__check + label::after {
  content: "";
  background: #fff;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 100%;
  transition-duration: 200ms;
}
.search__block__el {
  padding: 24px 0;
  border-bottom: 1px solid #E7E7E8;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.search__block-filters {
  color: #A3A3A3;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
  margin-bottom: 16px;
}
.search__block-title {
  font-family: "Montserrat";
  position: relative;
  line-height: 1.5rem;
  line-height: 1rem;
  transition-duration: 400ms;
  font-weight: 600;
}
.search__block-title::after {
  content: url(../img/list.svg);
  position: absolute;
  left: 15rem;
  top: 0;
  transition-duration: 400ms;
}
.search__block-title-after::after {
  content: url(../img/list.svg);
  position: absolute;
  left: 15rem;
  top: 0;
  transform: rotate(180deg);
}
.search__block-list {
  transition-duration: 400ms;
  height: 0;
  display: none;
  padding-top: 4px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.search__block-list-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}
.search__block-check {
  opacity: 0;
  z-index: -1;
}
.search__block-check:checked + label {
  color: #90140C;
}
.search__block-check:checked + label::after {
  content: "";
  background: #90140C url(../img/check.svg) no-repeat center;
}
.search__block-check + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  margin-left: 32px;
}
.search__block-check + label::after {
  content: "";
  background: #fff;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -30px;
  top: 2px;
  border-radius: 2px;
  transition-duration: 100ms;
  border: 1px solid #272727;
}
.search__block-check:active + .search__block-check {
  opacity: 0;
  z-index: -1;
}
.search__block-check:active + .search__block-check:checked + label::after {
  content: "";
  background: #90140C url(../img/check.svg) no-repeat center;
}
.search__block-price {
  max-width: 88px;
  width: 100%;
  height: 42px;
  border: 1px solid #B7B7B7;
  padding: 10px 19px 10px 17px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
.search__block-ok {
  max-width: 49px;
}
.search__block-line {
  max-width: 12px;
  width: 100%;
  background-color: #B7B7B7;
  height: 1px;
}
.search__searchen {
  width: 74.5%;
}
.search__col {
  max-width: 19.6875rem;
  width: 100%;
  margin: 0 auto 20px;
}
.search-swiper-slide__block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.search-swiper__nav {
  margin: 2.75rem auto 0;
  display: flex;
  max-width: 32rem;
  width: 100%;
}
.search-swiper-button-next, .search-swiper-button-prev {
  background: rgba(21, 21, 21, 0.32);
  border-radius: 80px;
  width: 48px;
  height: 48px;
  outline: none;
  position: relative;
}
.search-swiper-button-next::before {
  content: url(../img/arrow.svg);
  transform: rotate(180deg);
  margin-top: -9px;
}
.search-swiper-button-next:hover {
  background: #90140C;
}
.search-swiper-button-prev::before {
  content: url(../img/arrow.svg);
  margin-top: 5px;
}
.search-swiper-button-prev:hover {
  background: #90140C;
}
.search .swiper-wrapper {
  position: relative;
  min-height: 1647px;
}
.search .swiper-slide {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  transition: all 0.5s;
}
.search .swiper-slide-active {
  opacity: 1;
}
.search .swiper-button-next, .search .swiper-button-prev {
  top: 0;
  width: 41px;
  height: 41px;
  position: relative;
  right: 0;
  left: 0;
  margin-top: 0 !important;
}
.search .swiper-button-next::after, .search .swiper-button-prev::after {
  display: none;
}
.search .swiper-pagination {
  position: relative;
  margin: 0 auto 0;
  max-width: 250px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  min-height: 61px;
}
.search .swiper-pagination-nobullet {
  width: 12px;
  height: 12px;
  margin: 2px 2px 2px 2px;
  background: #fff;
  cursor: pointer;
  color: #272727;
  font-size: 1rem;
  line-height: 1.75rem;
  transition: all 0.4s;
  opacity: 1 !important;
}
.search .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: 2px 2px 2px 2px;
  background: #fff;
  cursor: pointer;
  color: #272727;
  font-size: 1rem;
  line-height: 1.75rem;
  transition: all 0.4s;
  opacity: 1 !important;
}
.search .swiper-pagination-bullet:hover {
  color: #90140C;
  transform: scale(1.1);
}
.search .swiper-pagination-bullet-active {
  color: #90140C;
}
.search .irs--flat {
  width: 264px;
}
.search .irs-min {
  display: none;
}
.search .irs-max {
  display: none;
}
.search .irs-from {
  display: none;
}
.search .irs-to {
  display: none;
}
.search .irs-single {
  display: none;
}
.search .irs-line {
  height: 1px !important;
  margin-top: 10px;
  top: 15px !important;
}
.search .irs-bar {
  height: 1px !important;
  background-color: #90140C !important;
}
.search .irs-handle {
  top: 17px !important;
  height: 20px !important;
  width: 20px !important;
  border-radius: 100%;
}
.search .irs-handle > i:first-child {
  height: 20px !important;
  width: 20px !important;
  border-radius: 100%;
  margin-left: -9px !important;
  background-color: #90140C !important;
}

.active {
  height: 100%;
  display: flex !important;
}
.active__container {
  display: block !important;
}

.visible {
  transform: scale(1);
}

.card {
  padding: 18px 0 2.5rem;
}
.card .row {
  align-items: flex-start;
}
.card__road {
  max-width: 435px;
  width: 100%;
  margin-bottom: 18px;
  display: flex;
  justify-content: space-between;
}
.card__road-mobile {
  position: relative;
  padding-left: 24px;
  display: none;
}
.card__road-mobile::before {
  content: url(../img/back.svg);
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 0;
}
.card__road__el {
  font-weight: 400;
  color: #272727;
  font-size: 0.875rem;
  line-height: 1.375rem;
  position: relative;
}
.card__road__el::after {
  content: "-";
  color: #B7B7B7;
  position: absolute;
  top: 0;
  right: -10px;
}
.card__road-end {
  color: #B7B7B7;
}
.card__road-end::after {
  content: "";
}
.card__content-gallery {
  max-width: 762px;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.card__content-pic {
  min-height: 100px;
}
.card__content-pic-active {
  grid-row-start: 1;
  grid-column-start: 1;
  min-height: 540px;
  grid-row-end: 6;
  grid-column-end: 6;
  transform: scale(1.05);
}
.card__col {
  max-width: 630px;
  width: 100%;
  margin-left: 56px;
  align-items: flex-start;
  justify-content: flex-start;
}
.card__col-complects {
  padding: 24px 0;
  border-top: 1px solid #E7E7E8;
  width: 100%;
}
.card__col-complects__el {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  width: 100%;
  margin-bottom: 12px;
  padding: 16px 20px;
}
.card__col-complects__el:nth-last-child(1) {
  margin-bottom: 0;
}
.card__col-complects-check {
  max-width: 131px;
  width: 100%;
}
.card__col-complects-label {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.375rem;
}
.card__col-complects-text {
  padding-top: 8px;
  max-width: 362px;
  width: 100%;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
.card__col-complects-price {
  font-size: 1rem !important;
}
.card__col-complects-price-del {
  font-size: 0.75rem !important;
}
.card__col-complects-price-block {
  min-height: auto !important;
  align-items: flex-end !important;
}
.card__col-complects-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.card__col-complects-input + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}
.card__col-complects-input + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #272727;
  border-radius: 100%;
  margin-right: 12px;
}
.card__col-complects-input:checked + label::before {
  border-color: #90140C;
}
.card__col-complects-input:checked + label::after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 4px;
  margin-top: -6px;
  border-radius: 100%;
  background-color: #90140C;
}
.card__col-had {
  color: #02AE3D;
  line-height: 1rem;
  font-size: 0.75rem;
  font-weight: 400;
}
.card__col-heading {
  padding: 1rem 0;
}
.card__col-head {
  font-weight: 800;
  line-height: 2.75rem;
  font-size: 2.5rem;
  margin-bottom: 24px;
}
.card__col-text {
  font-weight: 400;
  line-height: 1.375rem;
  font-size: 0.875rem;
  color: #272727;
}
.card__col-colors {
  max-width: 15.125rem;
  width: 100%;
  margin-bottom: 24px;
}
.card__col-colors-price {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
.card__col-color {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  position: relative;
}
.card__col-color::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: transparent;
  border-radius: 100%;
}
.card__col-dark {
  background: #272727;
}
.card__col-primary {
  background: #90140C;
}
.card__col-light {
  border: 1px solid #272727;
}
.card__col-light::before {
  border: 1px solid #272727;
  top: -5px;
  left: -5px;
}
.card__col-grey {
  background: #A3A3A3;
}
.card__col-nav {
  padding: 24px 0;
  margin-bottom: 24px;
  border-bottom: 1px solid #E7E7E8;
  border-top: 1px solid #E7E7E8;
}
.card__col-price {
  line-height: 2rem;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2rem;
}
.card__col-price-block {
  min-height: 58px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.card__col-price-del {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #B7B7B7;
}
.card__col-favorits {
  position: relative;
}
.card__col-favorits::before {
  position: absolute;
  left: -24px;
  top: 3px;
  content: url(../img/like.svg);
  width: 1rem;
  height: 1rem;
}
.card__col-button {
  max-width: 100%;
  margin: 24px 0 32px;
}
.card__col-input {
  max-width: 13.3125rem;
  width: 100%;
  min-height: 3.5rem;
  padding: 14px 60px 14px 91px;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.75rem;
}
.card__col-interactive {
  position: relative;
}
.card__col-plus {
  position: absolute;
  top: 14px;
  left: 155px;
  background: url(../img/plus.svg);
  width: 32px;
  height: 32px;
  z-index: 100;
}
.card__col-minus {
  position: absolute;
  top: 14px;
  left: 25px;
  background: url(../img/minus.svg);
  width: 32px;
  height: 32px;
  z-index: 100;
}
.card__col-message {
  color: #B7B7B7;
  line-height: 1.375rem;
  font-size: 0.875rem;
}
.card__col-bot {
  margin-bottom: 20px;
  justify-content: flex-start;
}
.card__col-bot-img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
.card__col-bot__text {
  text-align: left;
  line-height: 1rem;
  font-size: 0.75rem;
  max-width: 158px;
}
.card__bot {
  flex-wrap: wrap;
}

.shadow {
  width: 100%;
  position: fixed;
  opacity: 0;
  background: rgba(39, 39, 39, 0.7);
  transition-duration: 0.5s;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 999;
  display: none;
}
.shadow .gallery {
  max-width: 665px;
  width: 100%;
  max-height: 576px;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.shadow .gallery__close {
  position: fixed;
  top: -5%;
  right: -5%;
}
.shadow .gallery__img {
  width: 100%;
}

.active {
  display: flex;
  opacity: 1;
  overflow: visible;
}

.char .row {
  align-items: flex-start;
}
.char__col {
  align-items: flex-start;
}
.char__col h2 {
  margin-bottom: 24px;
}
.char__col div {
  align-items: flex-start;
  width: 100%;
}
.char__col div p {
  line-height: 1.375rem;
  font-weight: 400;
  margin-bottom: 16px;
}
.char__col div ul {
  margin-left: 24px;
  line-height: 1.375rem;
  font-weight: 400;
  margin-bottom: 16px;
}
.char__block {
  padding: 20px;
  width: 100%;
}
.char__block:nth-child(2n) {
  background: #F4F4F4;
}
.char__position {
  font-weight: 400;
  line-height: 1.375rem;
}
.char__variable {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.375rem;
}

.footer {
  padding-bottom: 5rem 0 1.875rem 0;
  background: #F4F4F4;
}
.footer__row {
  margin-top: 30px;
  border-top: 1px solid #E7E7E8;
  padding: 1.8125rem 0 0;
}
.footer__block {
  padding-bottom: 2.5rem;
  flex-wrap: wrap;
}
.footer__col {
  min-height: 16.125rem;
  align-items: flex-start;
}
.footer__col-list {
  min-height: 13.25rem;
  align-items: flex-start;
  margin-right: auto;
}
.footer__col-title {
  width: 100%;
  margin-bottom: 1.5rem;
  font-weight: 700;
  line-height: 1.375rem;
  font-size: 1.125rem;
}
.footer__col-text {
  font-weight: 400;
  line-height: 1.375rem;
  color: #272727;
  margin-bottom: 1rem;
}
.footer__col-text:nth-last-child(1) {
  margin-bottom: 0;
}
.footer__col:nth-child(1) {
  max-width: 14.625rem;
  width: 100%;
}
.footer__col:nth-child(2) {
  max-width: 9.8125rem;
  width: 100%;
}
.footer__col:nth-child(3) {
  max-width: 8.875rem;
  width: 100%;
}
.footer__col:nth-child(4) {
  max-width: 12.875rem;
  width: 100%;
}
.footer__col:nth-child(5) {
  max-width: 13.75rem;
  width: 100%;
}
.footer__col-heading {
  margin-bottom: 1.5rem;
  font-weight: 400;
  line-height: 1.375rem;
  margin-top: -0.75rem;
  text-align: left;
}
.footer__col-nav {
  min-height: 2.625rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.footer__col-nav-tel::before {
  content: url(../img/tel.svg);
  position: absolute;
  left: -2.25rem;
  top: 0;
  width: 24px;
  height: 24px;
}
.footer__col-nav-mes::before {
  content: url(../img/mes.svg);
  position: absolute;
  left: -2.25rem;
  top: 0;
  width: 24px;
  height: 24px;
}
.footer__col-nav-el {
  margin-left: 2.25rem;
  position: relative;
  margin-bottom: 1rem;
}
.footer__col-nav-el:nth-child(1) {
  margin-bottom: 0;
}
.footer__col-nav-el-low {
  color: #B7B7B7;
  font-size: 0.75rem;
  line-height: 1rem;
}
.footer__col-nav-el-margin {
  margin-bottom: 1.5rem;
}
.footer__col-nav-block {
  width: 100%;
  height: 1.5rem;
}

@media screen and (max-width: 1440px) {
  .action__col-favorits {
    margin: auto 0 auto 0;
  }

  .container {
    width: 95%;
  }

  .tabs__block__text {
    margin: 0.25rem 0.5rem 0;
  }
}
@media screen and (max-width: 1340px) {
  html {
    font-size: 0.875rem;
  }

  .tabs__block-width {
    padding: 0;
    padding-left: 3.5rem;
  }

  .header .input__block {
    margin: 0 0 0 auto;
  }

  .feedback .swiper {
    margin-left: auto;
    margin-right: auto;
  }
  .feedback .section__block {
    width: 100%;
    margin-bottom: 1.75rem;
  }
  .feedback__title {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }
  .feedback__text {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }

  .action__col-head {
    font-size: 0.85rem;
  }
}
@media screen and (max-width: 1180px) {
  .card__content-pic-active {
    min-height: 500px;
  }
  .card__col-plus {
    left: 135px;
  }
  .card__road {
    max-width: 385px;
  }

  .header__info {
    max-width: 75%;
  }
  .header .nav {
    max-width: 100%;
  }
  .header .input__block {
    margin: 2rem auto 0;
    max-width: 30rem;
  }
  .header .input__search {
    max-width: 30rem;
  }

  .action__col-nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .action__col-favorits {
    margin: auto 0 auto 14px;
  }

  .search-swiper-slide__block {
    grid-template-columns: 1fr 1fr;
  }
  .search__searchen {
    width: 70%;
  }
  .search__block-list {
    width: 100%;
  }
  .search__block-list-nav {
    flex-wrap: wrap;
    width: 100%;
  }
  .search__block-ok {
    max-width: 100%;
    margin-top: 10px;
  }
  .search .irs--flat {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .card .row {
    flex-wrap: wrap;
  }
  .card__content-pic {
    min-height: auto;
  }
  .card__content-pic-active {
    min-height: auto;
  }
  .card__content-gallery {
    margin-bottom: 24px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .card__col {
    margin-left: 0;
    max-width: 100%;
  }

  .header .logo {
    display: none;
  }
  .header .nav-user {
    max-width: 100%;
  }
  .header .block__logo {
    max-width: 49%;
  }

  .search__filters-min {
    min-height: 768px;
  }
  .search__filters-back {
    display: block;
  }
  .search__block-ok {
    max-width: 25%;
  }
  .search__section {
    display: none;
    max-width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    background: #fff;
  }
  .search__section-container {
    max-width: 355px;
    width: 100%;
    margin-left: 20px;
    height: 100vh;
    overflow: scroll;
  }
  .search__searchen {
    width: 100%;
  }

  .filter .row {
    align-items: flex-end;
  }
  .filter__buttons {
    flex-wrap: wrap;
  }
  .filter__button-mobile {
    display: block;
  }
  .filter__filters {
    max-width: 335px;
    display: flex;
    justify-content: space-between;
  }
  .filter__filters-back {
    display: block;
  }
  .filter__filters-button {
    display: block;
  }
  .filter__filters-container {
    display: none;
  }
  .filter__filters-popular {
    max-width: 165px;
    width: 100%;
    height: 40px;
    color: #272727;
    border: 1px solid #E7E7E8;
    padding: 12px 33px 12px 16px;
    display: flex;
    align-items: center;
  }
  .filter__filters-popular::after {
    content: url(../img/list.svg);
    top: 9px;
    left: 130px;
  }
}
@media screen and (max-width: 768px) {
  .search__section {
    padding: 0;
    overflow-y: scroll;
    height: 100vh;
    padding: 0;
  }
  .search__section-container {
    overflow: visible;
    height: 100rem;
    padding: 24px;
    max-width: 100%;
  }

  .footer__col-heading {
    text-align: right;
  }
  .footer__col-title {
    margin: 0 0 1.5rem;
  }
  .footer__col-title-center {
    margin: 0 0 1.5rem auto;
  }
  .footer__col:nth-child(5) {
    margin: 2rem 0 0 auto;
    min-height: 10rem;
  }
  .footer__col:nth-child(4) {
    margin: 2rem auto 0 0;
    max-width: 20rem;
  }
  .footer__block {
    padding-bottom: 0;
  }

  .action .col-25 {
    flex-basis: 49%;
  }
  .action__col {
    margin-bottom: 1rem;
  }

  .feedback {
    overflow-x: hidden;
  }
  .feedback .container {
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
  }
  .feedback .swiper {
    width: 944px !important;
    margin-left: 0rem;
    overflow: visible;
    margin-left: -6.3rem;
  }
  .feedback .swiper-wrapper {
    max-width: 944px !important;
  }

  .block {
    min-height: 35rem;
  }

  .header__info {
    max-width: 95%;
    margin: 0 auto;
  }
  .header .button {
    margin: 2rem auto 0;
  }
  .header .block__logo {
    max-width: 60%;
  }
  .header__block:nth-child(1) {
    display: none;
  }
}
@media screen and (max-width: 706px) {
  .card .col-50 {
    width: 100%;
  }
  .card__bot .row {
    flex-wrap: nowrap !important;
  }
  .card__road__el {
    display: none;
  }
  .card__road__el::after {
    display: none;
  }
  .card__road-mobile {
    display: block;
    margin-left: 20px;
  }
  .card .container {
    width: 100%;
  }
  .card__content-gallery {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 100%;
  }
  .card__col {
    padding: 0 20px;
  }
  .card__col-bot__text {
    max-width: 100%;
    font-size: 0.85rem;
  }
  .card__col-interactive {
    flex-wrap: nowrap !important;
  }
  .card__col-input {
    padding: 14px 35px 14px 75px;
    margin-right: 10px;
  }
  .card__col-complects-text {
    max-width: 210px;
  }

  .char .row {
    flex-wrap: wrap;
  }
  .char__col {
    width: 100%;
  }
  .char__col:nth-child(0) {
    margin-bottom: 40px;
  }

  .filter__filters-popular {
    max-width: 162px;
  }
  .filter__filters:no-button {
    max-width: 162px;
  }
  .filter__road-first {
    display: none;
  }
  .filter__road-end {
    display: none;
  }
  .filter__road-second {
    margin-left: 24px;
  }
  .filter__road-second::after {
    content: url(../img/back.svg);
    left: -24px;
  }
  .filter .row {
    flex-wrap: wrap;
  }
  .filter__button {
    margin-bottom: 4px;
  }
  .filter__button-mobile {
    margin-bottom: 0;
  }
  .filter__buttons {
    max-width: 100%;
  }
  .filter__filters {
    margin-top: 28px;
    max-width: 100%;
  }
  .filter__filters-popular {
    margin-right: 0;
  }
  .filter__filters-button {
    max-width: 165px;
  }

  .search .container {
    width: 100%;
  }
  .search__col {
    max-width: 163px;
    width: 100%;
    minh: 308px;
  }
  .search__block-title::after {
    left: 25rem;
  }
  .search__section-container {
    margin-left: 0;
  }
  .search__filters {
    padding-right: 40px;
  }
  .search__searchen {
    width: 90%;
    margin: auto;
  }

  .hero {
    padding: 0 !important;
  }
  .hero .container {
    width: 100%;
  }
  .hero .first-swiper {
    height: 260px;
    min-height: 260px;
  }
  .hero .first-swiper .slide {
    min-height: 260px;
    height: 260px;
  }
  .hero .first-swiper .slide__title {
    min-height: 122px;
  }
  .hero .first-swiper .slide__title__head {
    font-size: 20px;
    line-height: 24px;
  }
  .hero .first-swiper .slide__title__text {
    font-size: 12px;
    line-height: 16px;
    max-width: 230px;
    text-align: center;
  }
  .hero .swiper-button-prev, .hero .swiper-button-next {
    top: 47.8%;
  }
  .hero .swiper-button-prev {
    left: 20px;
  }
  .hero .swiper-button-next {
    right: 20px;
  }
  .hero .swiper-pagination-bullets {
    margin-top: -16px;
  }

  .section {
    padding: 1rem 0;
  }

  .container {
    width: 88%;
  }

  .feedback .swiper {
    margin-left: -8.2rem;
  }
  .feedback .section__block {
    margin-top: 0;
  }

  .header {
    padding-top: 16px;
    padding-bottom: 0 !important;
  }
  .header .container {
    width: 100%;
  }
  .header .burger {
    display: block;
  }
  .header .mobile {
    max-width: 68px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-bottom: 16px;
  }
  .header .mobile__tel {
    display: block;
  }
  .header .mobile__block {
    display: block;
  }
  .header .nav__mobile {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .header .nav__mobile-bed {
    display: none;
  }
  .header .nav__mobile__el {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 33.3%;
    padding: 25px 20px;
    background: #fff;
    border: 1px solid #E7E7E8;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #272727;
    height: 123px;
  }
  .header .nav__mobile__el-img {
    margin-bottom: 8px;
  }
  .header .nav-section {
    order: 3;
    max-width: 100%;
    padding: 16px 32px;
    background: #F4F4F4;
  }
  .header .nav-user {
    max-width: 68px;
  }
  .header .nav-user__el {
    width: 24px;
    height: 24px;
    font-size: 0;
    margin-left: 0;
  }
  .header .nav-user__el:nth-child(1) {
    display: none;
  }
  .header .nav-user__el:nth-child(2)::before {
    left: 0;
  }
  .header .nav-user__el:nth-child(2)::after {
    left: 13px;
    font-size: 1rem;
  }
  .header .nav-user__el:nth-child(3)::before {
    left: 0;
  }
  .header__block {
    padding: 0;
    background: #fff;
  }
  .header__block:nth-child(2) {
    padding: 0;
  }
  .header__block:nth-child(3) {
    display: none;
  }
  .header__block:nth-child(4) {
    display: block;
  }
  .header .logo {
    display: block;
    max-width: 160px;
    width: 100%;
  }
  .header .block__logo {
    max-width: 66%;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 16px;
  }

  .tabs {
    display: none;
  }

  .guid {
    display: none;
  }

  .popular {
    display: none;
  }

  .principles .col-25 {
    flex-basis: 49%;
    margin-bottom: 10px;
  }

  .action {
    overflow-x: hidden;
  }
  .action .container {
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
  }
  .action .swiper {
    width: 334px !important;
    margin-left: 0rem;
    overflow: visible;
    margin-left: 14rem;
  }
  .action .swiper-wrapper {
    max-width: 334px !important;
  }
  .action-swiper {
    display: block;
  }
  .action .row {
    display: none;
  }
  .action__col {
    min-height: 300px;
  }
  .action__col-favorits {
    font-size: 12px;
  }
  .action__col-head {
    font-size: 13px;
    line-height: 18px;
  }
  .action__col-heading {
    margin-bottom: 0;
  }
  .action__col-img {
    height: 120px;
  }
  .action__col-block {
    padding: 12px 12px 16px;
  }
  .action__col-bag {
    margin-left: 0;
  }

  .active {
    display: flex !important;
    overflow: visible;
    opacity: 1;
  }

  .footer__row-left {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__col {
    min-height: 54px;
    border-top: 1px solid #E7E7E8;
    border-bottom: 1px solid #E7E7E8;
    padding: 5px 0;
  }
  .footer__col:nth-child(5) {
    order: 2;
    max-width: 100%;
    border: 0px;
  }
  .footer__col:nth-child(5) .button {
    max-width: 100%;
  }
  .footer__col-heading {
    text-align: left;
    font-size: 16px;
    line-height: 22px;
  }
  .footer__col-list {
    display: none;
    overflow: hidden;
    margin-top: 1rem;
    min-height: 9.5rem;
    transition-duration: 400ms;
  }
  .footer__col:nth-child(1) {
    order: 3;
    max-width: 100%;
    padding: 15px 0;
  }
  .footer__col:nth-child(2) {
    order: 4;
    max-width: 100%;
    padding: 15px 0;
  }
  .footer__col:nth-child(3) {
    order: 5;
    max-width: 100%;
    padding: 15px 0;
  }
  .footer__col:nth-child(4) {
    order: 1;
    max-width: 13rem;
    border: 0px;
  }
  .footer__col-nav-block {
    width: 90%;
  }
  .footer__col-title {
    margin: auto 0;
    position: relative;
  }
  .footer__col-title-after::after {
    content: "" !important;
  }
  .footer__col-title::after {
    content: url(../img/list.svg);
    margin-left: auto;
    position: absolute;
    right: 0;
    top: 0;
  }
  .footer__col-title-center {
    display: none;
  }
  .footer__rights {
    margin-top: 1rem;
  }

  .shadow .galery {
    width: 90%;
    height: 90%;
  }
}
@media screen and (max-width: 570px) {
  .action {
    overflow-x: hidden;
  }
  .action .swiper {
    margin-left: 9rem;
  }

  .feedback .swiper {
    margin-left: -13.2rem;
  }
}
@media screen and (max-width: 425px) {
  .action {
    overflow-x: hidden;
  }
  .action .swiper {
    margin-left: 4rem;
  }

  .feedback .swiper {
    margin-left: -19.2rem;
  }
}
@media screen and (max-width: 375px) {
  .filter__button {
    max-width: 11.5rem;
  }

  .search__block-title::after {
    left: 21rem;
  }

  .action .swiper {
    margin-left: 1.7rem;
  }
}
@media screen and (max-width: 320px) {
  .container {
    width: 95%;
  }

  .filter__button {
    max-width: 10.5rem;
  }
  .filter__filters {
    flex-wrap: nowrap !important;
  }
  .filter__filters-popular {
    margin-right: 4px;
  }
  .filter__filters-popular::after {
    left: 120px;
  }

  .header .mobile {
    max-width: 60px;
  }
  .header .logo {
    max-width: 138px;
  }

  .action__col-favorits {
    font-size: 8px;
  }

  .search__block-title::after {
    left: 17rem;
  }

  .action .swiper {
    margin-left: 6.7rem;
  }
  .action-swiper__nav {
    margin: 2.75rem auto auto -5rem;
    width: 85%;
  }
}