.button
    width: 100%
    padding: 1.286rem 0
    outline: none
    border: none
    font-size: 1.214rem
    font-weight: 700
    text-transform: uppercase
    cursor: pointer
    border-radius: 4px
    transition-duration: 0.4s
    &:hover
        filter: drop-shadow(0px 5px 6px $primary)
    &-primary
        color: $light
        background-color: $primary
        box-shadow: 0px 12px 24px 0px rgba(6,57,158,0.31)
    &-outline
        color: $primary
        background: transparent
        border: 1px solid $primary
.card
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: flex-start
    &__title
        &-img
            width: 100%
    &__heading
        font-size: 1.714rem
        font-weight: 700
        color: $black
        line-height: 2rem
        &-words
            font-weight: 300
    &__text
        margin-top: 2.214rem
        font-weight: 300
        line-height: 1.714rem
        color: $gradientTo
        font-size: 1.142rem
        &-block
            min-height: 15.714rem
    &__price
        color: $secondary
        font-size: 1.714rem 
        margin-top: 1rem
        font-weight: 700
    &__button
        max-width: 11.929rem
        margin-top: 4.857rem