@media screen and ( max-width: 1440px )
    .action
        &__col
            &-favorits
                margin: auto 0 auto 0
    .container
        width: 95%
    .tabs__block
        &__text
            margin: 0.25rem 0.5rem 0
@media screen and ( max-width: 1340px )
    html
        font-size: 0.875rem
    .tabs__block
        &-width
            padding: 0
            padding-left: 3.5rem
    .header
        .input
            &__block
                margin: 0 0 0 auto
    .feedback
        .swiper
            margin-left: auto
            margin-right: auto
        .section
            &__block
                width: 100%
                margin-bottom: 1.75rem
        &__title
            max-width: 100%
            width: 100%
            text-align: center
        &__text
            max-width: 100%
            width: 100%
            text-align: center
    .action
        &__col
            &-head
                font-size: 0.85rem
@media screen and ( max-width: 1180px)
    .header
        &__info
            max-width: 75%
        .nav
            max-width: 100%
        .input
            &__block
                margin: 2rem auto 0
                max-width: 30rem
            &__search
                max-width: 30rem
    .action
        &__col
            &-nav
                flex-direction: column
                align-items: flex-start
            &-favorits
                margin: auto 0 auto 14px
@media screen and ( max-width: 992px )
    .header
        .logo
            display: none
        .nav
            &-user
                max-width: 100%
        .block
            &__logo
                max-width: 49%
@media screen and ( max-width: 768px )
    .footer
        &__col
            &-heading 
                text-align: right
            &-title
                margin: 0 0 1.5rem
                &-center
                    margin: 0 0 1.5rem auto
            &:nth-child(5)
                margin: 2rem 0 0 auto
                min-height: 10rem
            &:nth-child(4)
                margin: 2rem auto 0 0
                max-width: 20rem
        &__block
            padding-bottom: 0
    .action
        .col-25
            flex-basis: 49%
        &__col
            margin-bottom: 1rem
    .feedback
        overflow-x: hidden
        .container
            max-width: 100%
            width: 100%
            overflow-x: hidden
        .swiper
            width: 944px!important
            margin-left: 0rem
            overflow: visible
            margin-left: -6.3rem
            &-wrapper
                max-width: 944px!important
    .block
        min-height: 35rem
    .header
        &__info
            max-width: 95%
            margin: 0 auto
        .button
            margin: 2rem auto 0
        .block
            &__logo
                max-width: 60%
        &__block
            &:nth-child(1)
                display: none
@media screen and ( max-width: 425px )
    .hero
        padding: 0!important
        .container
            width: 100%
        .first-swiper
            height: 260px
            min-height: 260px
            .slide
                min-height: 260px
                height: 260px
                &__title
                    min-height: 122px
                    &__head
                        font-size: 20px
                        line-height: 24px
                    &__text
                        font-size: 12px
                        line-height: 16px
                        max-width: 230px
                        text-align: center
        .swiper
            &-button
                &-prev, &-next
                    top: 47.8%
                &-prev
                    left: 20px
                &-next
                    right: 20px
            &-pagination
                &-bullets
                    margin-top: -16px
    .section
        padding: 1rem 0
    .container
        width: 88%
    .feedback
        .swiper    
            margin-left: -20.2rem
        .section
            &__block
                margin-top: 0
    .header
        padding-top: 16px
        padding-bottom: 0!important
        .container
            width: 100%
        .burger
            display: block
        .mobile
            max-width: 68px
            width: 100%
            display: flex
            justify-content: space-between
            margin-left: 20px
            margin-bottom: 16px
            &__tel
                display: block
            &__block
                display: block
        .nav
            &__mobile
                width: 100%
                display: flex
                flex-wrap: wrap
                &__el
                    display: flex
                    align-items: center
                    flex-direction: column
                    justify-content: center
                    width: 33.3%
                    padding: 25px 20px
                    background: $light
                    border: 1px solid $lightGreyBorder
                    font-weight: 400
                    font-size: 12px
                    line-height: 16px
                    text-align: center
                    color: $dark
                    height: 123px
                    &-img
                        margin-bottom: 8px
            &-section
                order: 3
                max-width: 100%
                padding: 16px 32px
                background: $lightGrey
            &-user
                max-width: 68px
                &__el
                    width: 24px
                    height: 24px
                    font-size: 0
                    margin-left: 0
                    &:nth-child(1)
                        display: none
                    &:nth-child(2)
                        &::before
                            left: 0
                        &::after
                            left: 13px
                            font-size: 1rem
                    &:nth-child(3)
                        &::before
                            left: 0
        &__block
            padding: 0
            background: $light
            &:nth-child(2)
                padding: 0
            &:nth-child(3)
                display: none
            &:nth-child(4)
                display: block
        .logo
            display: block
            max-width: 160px
            width: 100%
        .block
            &__logo
                max-width: 66%
                align-items: center
                margin-right: 20px
                margin-bottom: 16px
    .tabs
        display: none
    .guid
        display: none
    .popular
        display: none
    .principles
        .col-25
            flex-basis: 49%
            margin-bottom: 10px
    .action
        overflow-x: hidden
        .container
            max-width: 100%
            width: 100%
            overflow-x: hidden
        .swiper
            width: 334px!important
            margin-left: 0rem
            overflow: visible
            margin-left: 1.7rem
            &-wrapper
                max-width: 334px!important
        &-swiper
            display: block 
        .row
            display: none
        &__col
            min-height: 300px
            &-favorits
                font-size: 12px
            &-head
                font-size: 14px
                line-height: 18px
            &-heading
                margin-bottom: 0
            &-img 
                height: 120px
            &-block
                padding: 12px 12px 16px
            &-bag
                margin-left: 0
    .active
        display: flex!important
    .footer
        &__row
            &-left
                flex-direction: column
                align-items: flex-start
        &__col
            min-height: 54px
            border-top: 1px solid $lightGreyBorder
            border-bottom: 1px solid $lightGreyBorder
            padding: 5px 0
            &:nth-child(5)
                order: 2
                max-width: 100%
                border: 0px
                .button
                    max-width: 100%
            &-heading
                text-align: left
                font-size: 16px
                line-height: 22px
            &-list
                display: none
                margin-top: 1rem
                min-height: 9.5rem
        &__col
            &:nth-child(1)
                order: 3
                max-width: 100%
        &__col
            &:nth-child(2)
                order: 4
                max-width: 100%
        &__col
            &:nth-child(3)
                order: 5
                max-width: 100%
        &__col
            &:nth-child(4)
                order: 1
                max-width: 13rem
                border: 0px
            &-nav
                &-block
                    width: 90%
            &-title
                margin: auto 0
                position: relative
                &-after
                    &::after
                        content: ''!important
                &::after
                    content: url(../img/list.svg)
                    margin-left: auto
                    position: absolute
                    left: 22.5rem
                    top: 0
                &-center
                    display: none
        &__rights
            margin-top: 1rem