@media screen and ( max-width: 1440px )
    .action
        &__col
            &-favorits
                margin: auto 0 auto 0
    .container
        width: 95%
    .tabs__block
        &__text
            margin: 0.25rem 0.5rem 0
@media screen and ( max-width: 1340px )
    html
        font-size: 0.875rem
    .tabs__block
        &-width
            padding: 0
            padding-left: 3.5rem
    .header
        .input
            &__block
                margin: 0 0 0 auto
    .feedback
        .swiper
            margin-left: auto
            margin-right: auto
        .section
            &__block
                width: 100%
                margin-bottom: 1.75rem
        &__title
            max-width: 100%
            width: 100%
            text-align: center
        &__text
            max-width: 100%
            width: 100%
            text-align: center
    .action
        &__col
            &-head
                font-size: 0.85rem
@media screen and ( max-width: 1180px)
    .card
        &__content
            &-pic
                &-active
                    min-height: 500px
        &__col
            &-plus
                left: 135px
        &__road
            max-width: 385px
    .header
        &__info
            max-width: 75%
        .nav
            max-width: 100%
        .input
            &__block
                margin: 2rem auto 0
                max-width: 30rem
            &__search
                max-width: 30rem
    .action
        &__col
            &-nav
                flex-direction: column
                align-items: flex-start
            &-favorits
                margin: auto 0 auto 14px
    .search
        &-swiper
            &-slide
                &__block
                    grid-template-columns: 1fr 1fr
        &__searchen
            width: 70%
        &__block
            &-list
                width: 100%
                &-nav
                    flex-wrap: wrap
                    width: 100%
            &-ok
                max-width: 100%
                margin-top: 10px
        .irs--flat
            width: 100%
@media screen and ( max-width: 992px )
    .card
        .row
            flex-wrap: wrap
        &__content
            &-pic
                min-height: auto
                &-active
                    min-height: auto
            &-gallery
                margin-bottom: 24px
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr
        &__col
            margin-left: 0
            max-width: 100%
    .header
        .logo
            display: none
        .nav
            &-user
                max-width: 100%
        .block
            &__logo
                max-width: 49%
    .search
        &__filters
            &-min
                min-height: 768px
            &-back
                display: block
        &__block
            &-ok
                max-width: 25%
        &__section
            display: none
            max-width: 100%
            position: fixed
            left: 0
            top: 0
            z-index: 999
            background: $light
            &-container
                max-width: 355px
                width: 100%
                margin-left: 20px
                height: 100vh
                overflow: scroll
        &__searchen
            width: 100%
    .filter
        .row
            align-items: flex-end
        &__buttons
            flex-wrap: wrap
        &__button
            &-mobile
                display: block
        &__filters
            max-width: 335px
            display: flex
            justify-content: space-between
            &-back
                display: block
            &-button
                display: block
            &-container
                display: none
            &-popular
                max-width: 165px
                width: 100%
                height: 40px
                color: $dark
                border: 1px solid $lightGreyBorder
                padding: 12px 33px 12px 16px
                display: flex
                align-items: center
                &::after
                    content: url(../img/list.svg)
                    top: 9px
                    left: 130px

@media screen and ( max-width: 768px )
    .search
        &__section
            padding: 0
            overflow-y: scroll
            height: 100vh
            padding: 0
            &-container
                overflow: visible
                height: 100rem
                padding: 24px
                max-width: 100%
    .footer
        &__col
            &-heading 
                text-align: right
            &-title
                margin: 0 0 1.5rem
                &-center
                    margin: 0 0 1.5rem auto
            &:nth-child(5)
                margin: 2rem 0 0 auto
                min-height: 10rem
            &:nth-child(4)
                margin: 2rem auto 0 0
                max-width: 20rem
        &__block
            padding-bottom: 0
    .action
        .col-25
            flex-basis: 49%
        &__col
            margin-bottom: 1rem
    .feedback
        overflow-x: hidden
        .container
            max-width: 100%
            width: 100%
            overflow-x: hidden
        .swiper
            width: 944px!important
            margin-left: 0rem
            overflow: visible
            margin-left: -6.3rem
            &-wrapper
                max-width: 944px!important
    .block
        min-height: 35rem
    .header
        &__info
            max-width: 95%
            margin: 0 auto
        .button
            margin: 2rem auto 0
        .block
            &__logo
                max-width: 60%
        &__block
            &:nth-child(1)
                display: none
@media screen and ( max-width: 425px )
    .card
        .col-50
            width: 100%
        &__bot
            .row
                flex-wrap: nowrap!important
        &__road
            &__el
                display: none
                &::after
                    display: none
            &-mobile
                display: block
                margin-left: 20px
        .container  
            width: 100%
        &__content
            &-gallery
                grid-template-rows: 1fr 1fr 1fr 1fr
                width: 100%
        &__col
            padding: 0 20px
            &-bot
                &__text
                    max-width: 100%
                    font-size: 0.85rem
            &-interactive
                flex-wrap: nowrap!important
            &-input
                padding: 14px 35px 14px 75px
                margin-right: 10px
            &-complects
                &-text
                    max-width: 210px
    .char
        .row
            flex-wrap: wrap
        &__col
            width: 100%
            &:nth-child(0)
                margin-bottom: 40px
    .filter
        &__filters
            &-popular
                max-width: 162px
            &:no-button
                max-width: 162px
        &__road
            &-first
                display: none
            &-end
                display: none
            &-second
                margin-left: 24px
                &::after
                    content: url(../img/back.svg)
                    left: -24px
        .row
            flex-wrap: wrap
        &__button
            margin-bottom: 4px
            &-mobile
                margin-bottom: 0
        &__buttons
            max-width: 100%
        &__filters
            margin-top: 28px
            max-width: 100%
            &-popular
                margin-right: 0
            &-button
                max-width: 165px
    .search
        .container
            width: 100%
        &__col
            max-width: 163px
            width: 100%
            minh: 308px
        &__block
            &-title
                &::after
                    left: 25rem
        &__section
            &-container
                margin-left: 0
        &__filters
            padding-right: 40px
        &__searchen 
            width: 90%
            margin: auto
    .hero
        padding: 0!important
        .container
            width: 100%
        .first-swiper
            height: 260px
            min-height: 260px
            .slide
                min-height: 260px
                height: 260px
                &__title
                    min-height: 122px
                    &__head
                        font-size: 20px
                        line-height: 24px
                    &__text
                        font-size: 12px
                        line-height: 16px
                        max-width: 230px
                        text-align: center
        .swiper
            &-button
                &-prev, &-next
                    top: 47.8%
                &-prev
                    left: 20px
                &-next
                    right: 20px
            &-pagination
                &-bullets
                    margin-top: -16px
    .section
        padding: 1rem 0
    .container
        width: 88%
    .feedback
        .swiper    
            margin-left: -20.2rem
        .section
            &__block
                margin-top: 0
    .header
        padding-top: 16px
        padding-bottom: 0!important
        .container
            width: 100%
        .burger
            display: block
        .mobile
            max-width: 68px
            width: 100%
            display: flex
            justify-content: space-between
            margin-left: 20px
            margin-bottom: 16px
            &__tel
                display: block
            &__block
                display: block
        .nav
            &__mobile
                width: 100%
                display: flex
                flex-wrap: wrap
                &-bed
                    display: none
                &__el
                    display: flex
                    align-items: center
                    flex-direction: column
                    justify-content: center
                    width: 33.3%
                    padding: 25px 20px
                    background: $light
                    border: 1px solid $lightGreyBorder
                    font-weight: 400
                    font-size: 12px
                    line-height: 16px
                    text-align: center
                    color: $dark
                    height: 123px
                    &-img
                        margin-bottom: 8px
            &-section
                order: 3
                max-width: 100%
                padding: 16px 32px
                background: $lightGrey
            &-user
                max-width: 68px
                &__el
                    width: 24px
                    height: 24px
                    font-size: 0
                    margin-left: 0
                    &:nth-child(1)
                        display: none
                    &:nth-child(2)
                        &::before
                            left: 0
                        &::after
                            left: 13px
                            font-size: 1rem
                    &:nth-child(3)
                        &::before
                            left: 0
        &__block
            padding: 0
            background: $light
            &:nth-child(2)
                padding: 0
            &:nth-child(3)
                display: none
            &:nth-child(4)
                display: block
        .logo
            display: block
            max-width: 160px
            width: 100%
        .block
            &__logo
                max-width: 66%
                align-items: center
                margin-right: 20px
                margin-bottom: 16px
    .tabs
        display: none
    .guid
        display: none
    .popular
        display: none
    .principles
        .col-25
            flex-basis: 49%
            margin-bottom: 10px
    .action
        overflow-x: hidden
        .container
            max-width: 100%
            width: 100%
            overflow-x: hidden
        .swiper
            width: 334px!important
            margin-left: 0rem
            overflow: visible
            margin-left: 4rem
            &-wrapper
                max-width: 334px!important
        &-swiper
            display: block 
        .row
            display: none
        &__col
            min-height: 300px
            &-favorits
                font-size: 12px
            &-head
                font-size: 13px
                line-height: 18px
            &-heading
                margin-bottom: 0
            &-img 
                height: 120px
            &-block
                padding: 12px 12px 16px
            &-bag
                margin-left: 0
    .active
        display: flex!important
        overflow: visible
    .footer
        &__row
            &-left
                flex-direction: column
                align-items: flex-start
        &__col
            min-height: 54px
            border-top: 1px solid $lightGreyBorder
            border-bottom: 1px solid $lightGreyBorder
            padding: 5px 0
            &:nth-child(5)
                order: 2
                max-width: 100%
                border: 0px
                .button
                    max-width: 100%
            &-heading
                text-align: left
                font-size: 16px
                line-height: 22px
            &-list
                display: none
                overflow: hidden
                margin-top: 1rem
                min-height: 9.5rem
                transition-duration: 400ms
        &__col
            &:nth-child(1)
                order: 3
                max-width: 100%
                padding: 15px 0
        &__col
            &:nth-child(2)
                order: 4
                max-width: 100%
                padding: 15px 0
        &__col
            &:nth-child(3)
                order: 5
                max-width: 100%
                padding: 15px 0
        &__col
            &:nth-child(4)
                order: 1
                max-width: 13rem
                border: 0px
            &-nav
                &-block
                    width: 90%
            &-title
                margin: auto 0
                position: relative
                &-after
                    &::after
                        content: ''!important
                &::after
                    content: url(../img/list.svg)
                    margin-left: auto
                    position: absolute
                    left: 24.5rem
                    top: 0
                &-center
                    display: none
        &__rights
            margin-top: 1rem
@media screen and ( max-width: 375px )
    .filter
        &__button
            max-width: 11.5rem
    .footer
        &__col
            &-title
                &::after
                    left: 22.5rem
    .search
        &__block
            &-title
                &::after
                    left: 21rem
    .action
        .swiper
            margin-left: 1.7rem
@media screen and ( max-width: 320px )
    .container
        width: 95%
    .footer
        &__col
            &-title
                &::after
                    left: 19.5rem
    .filter
        &__button
            max-width: 10.5rem
        &__filters
            flex-wrap: nowrap!important
            &-popular
                margin-right: 4px
                &::after
                    left: 120px
    .header
        .mobile
            max-width: 60px
        .logo
            max-width: 138px
    .action
        &__col
            &-favorits
                font-size: 8px
    .search
        &__block
            &-title
                &::after
                    left: 17rem
    .action
        .swiper
            margin-left: 6.7rem
        &-swiper
            &__nav
                margin: 2.75rem auto auto -5rem
                width: 85%