*, *:before, *:after
    box-sizing: border-box
    margin: 0
    padding: 0
h1
    margin: 0
html
    font-size: 14px 
body
    font-family: 'ProximaNova'
    font-size: 1rem
    color: $dark
    outline: none
img
    max-width: 100% 
.section
    padding: 2.857rem 0