.popular
    &__block
        margin-top: 2rem
        min-height: 46.75rem
        width: 100%
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr
        grid-template-rows: 1fr 1fr
        &__el
            display: flex
            flex-direction: column
            align-items: center
            justify-content: flex-end
            border-right: 1px solid $light
            border-bottom: 1px solid $light
            border-radius: 2px
        &-one
            grid-row-start: 1
            grid-row-end: 3
            grid-column-start: 1
            grid-column-end: 3
            background-image: url(../img/popular-one.webp)
        &-two
            background-image: url(../img/popular-two.webp)
        &-three
            background-image: url(../img/popular-three.webp)
        &-four
            grid-row-start: 1
            grid-row-end: 3
            grid-column-start: 4
            grid-column-end: 5
            background-image: url(../img/popular-four.webp)