.tabs
    padding: 2.3125rem 0 2.5rem
    &__block
        width: 49%
        min-height: 16.875rem
        background: $lightGrey
        &-width
            max-width: 54.625rem
            width: 100%
            padding: 0 2.3125rem 0 5.25rem
        &-height
            min-height: 35rem
            max-width: 26.6875rem
            width: 100%
            background: $lightGrey
            padding: 5.75rem 0 0 0
        &__title
            font-weight: 800
            text-align: center
            line-height: 1.75rem
            font-size: 1.5rem
            margin-top: 1rem
            &-margin
                margin-top: 0
            &-top
                margin-top: 6rem
        &__text
            color: $darkGreyTwo
            font-size: 0.875rem
            line-height: 1.375rem
            font-weight: 400
            text-align: center
            max-width: 23.9375rem
            margin-top: 0.25rem
            &-width
                max-width: 17rem
    &__blocks
        width: 100% 
    &__box
        max-width: 54.625rem
        width: 100%
        min-height: 35rem
        display: flex
        flex-direction: column
        justify-content: space-between